@font-face {
  font-family: "iconfont"; /* Project id 2594509 */
  src: url('iconfont.woff2?t=1622947365935') format('woff2'),
       url('iconfont.woff?t=1622947365935') format('woff'),
       url('iconfont.ttf?t=1622947365935') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.travel-back:before {
  content: "\e677";
}

.travel-search:before {
  content: "\e63e";
}

.travel-arrowdown:before {
  content: "\e628";
}

